:root {
  --max-width: 375px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #2c3345;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.search-form,
.github-container,
.result-container {
  max-width: var(--max-width);
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  transition: background-color 0.15s;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.input-container {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 100%;
}

.input-container input {
  padding: 6px;
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 3px;
}

#searchButton {
  padding: 6px 15px;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: normal;
  min-width: 64px;
  width: auto;
  margin-right: 10px;
}

#propertyAddressInput {
  font-family: "Inter", sans-serif;
  flex: 1;
  font-size: 12px;
  color: #2c3345;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 3px;
  max-width: 70%;
  margin-bottom: 5px;
}

#houseNumberInput {
  padding: 6px;
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: auto;
  font-size: 10px;
  max-width: 40%; /* Allow house number to shrink in width */
  margin-top: 5px; /* Added margin */
}

.property-container {
  color: #2e6da4;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.result-container {
  max-width: var(--max-width);
  margin: 10px auto;
  padding: 10px;
  border: none;
  text-align: center;
  color: #2e6da4;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: bold;
  background-color: transparent;
  box-shadow: none;
}

@media (max-width: 768px) {
  .input-container {
    flex-direction: column;
    align-items: flex-start;
  }

  #searchButton {
    margin-top: 5px;
    margin-right: 0;
  }

  #houseNumberInput {
    max-width: 100%; /* Allow house number to take full width */
  }
}
