:root {
  --max-width: 600px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #2c3345;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.search-form,
.github-container {
  max-width: var(--max-width);
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.15s;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 6px 12px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.input-container input {
  padding: 10px;
  width: 100%;
  max-width: 75%;
  border: 1px solid #ddd;
  border-radius: 3px;
}

#searchButton {
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: normal;
  min-width: 128px;
  width: auto;
  margin-left: 10px;
}

.result-container {
  max-width: var(--max-width);
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #2e6da4;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

#houseNumberInput {
  padding: 10px;
  width: 100%;
  max-width: 25%;
  font-size: 12px; /* Adjust font size */
}

@media (max-width: 768px) {
  .input-container {
    align-items: flex-start;
  }

  #addressInput {
    max-width: 75%;
  }

  #houseNumberInput {
    max-width: 100%;
  }
}
